# Introduction to R Part 16: Dealing With Dates

In the last two lessons we learned a variety of methods to prepare character and text data, but many data sets also contain dates that don't fit nicely into either category. Common date formats contain numbers and sometimes characters as well to specify months and days. Getting dates into a friendly format and extracting features of dates like month and year into new varaibles can be useful preprocessing steps.

For this lesson I've created some dummy date data in a few different formats. To read the data, copy the table of dates below and then use read.csv("clipboard", sep="\t", stringsAsFactors=FALSE)

In [1]:
dates <- read.csv("clipboard", sep="\t", stringsAsFactors=FALSE)   # Load dates

In [2]:
dates                                     # check dates

  month_day_year day_month_year                date_time year_month_day
1      4/22/1996      22-Apr-96 Tue Aug 11 09:50:35 1996     2007-06-22
2      4/23/1996      23-Apr-96 Tue May 12 19:50:35 2016     2017-01-09
3      5/14/1996      14-May-96 Mon Oct 14 09:50:35 2017     1998-04-12
4      5/15/1996      15-May-96 Tue Jan 11 09:50:35 2018     2027-07-22
5      5/16/2001      16-May-01 Fri Mar 11 07:30:36 2019     1945-11-15
6      5/17/2002      17-May-02 Tue Aug 11 09:50:35 2020     1942-06-22
7      5/18/2003      18-May-03 Wed Dec 21 09:50:35 2021     1887-06-13
8      5/19/2004      19-May-04 Tue Jan 11 09:50:35 2022     1912-01-25
9      5/20/2005      20-May-05 Sun Jul 10 19:40:25 2023     2007-06-22

*Note: Your date data will contain an extra variable called "X" for the copied row names. Remove it with dates$X <- NULL

When you load data with date columns into R, is typically stored as a character vector:

In [3]:
dates[1,1]

typeof(dates[1,1])

[1] "4/22/1996"

[1] "character"

To work with dates in R, you need to convert them from character format to a date format. R contains a built in function as.Date() that converts strings to dates:

In [4]:
first_col <- as.Date(dates$month_day_year,  # Character vector to convert
             format= "%m/%d/%y")            # Format of the dates to convert

first_col                                   # Check the new dates

typeof(first_col)                           # Check their type

[1] "2019-04-22" "2019-04-23" "2019-05-14" "2019-05-15" "2020-05-16"
[6] "2020-05-17" "2020-05-18" "2020-05-19" "2020-05-20"

[1] "double"

When you use as.Date() you have to provide the format of the dates in the character data you are trying to convert. In the example above, the dates were in the month, day, year format with each number separated by a slash, so we had to provide the format string "%m/%d/%y". The default format for as.Date() is year, month, day separatead by slashes or hyphens. The final column in our data set is in the default format, so we could convert it without supplying a custom format:

In [5]:
forth_col <- as.Date(dates$year_month_day)

forth_col

typeof(first_col)

[1] "2007-06-22" "2017-01-09" "1998-04-12" "2027-07-22" "1945-11-15"
[6] "1942-06-22" "1887-06-13" "1912-01-25" "2007-06-22"

[1] "double"

The following is a list of date formatting codes:

In [6]:
# %d -> Day
# %m -> Numeric Month 
# %b -> Abbreviated Month
# %B -> Full Month
# %y -> 2-digit year
# %Y -> 4-digit year

The dates we've printed to the screen might still look like character strings, but internally they are stored as numbers. (Note that the type has changed to "double".). R stores dates internally as the number of days since the first day of 1970, with dates before 1970 being stored as negative numbers. You can check the underlying numeric representation of a date with as.numeric():

In [7]:
as.numeric(forth_col)

[1]  13686  17175  10328  21021  -8813 -10055 -30152 -21161  13686

Date objects let you perform subtraction to check how many days passed between two dates:

In [8]:
forth_col[2]-forth_col[1]

Time difference of 3489 days

You can also extract the day of the week and month with weekdays() and months() respectively:

In [9]:
weekdays(forth_col)

months(forth_col)

[1] "Friday"   "Monday"   "Sunday"   "Thursday" "Thursday" "Monday"   "Monday"
[8] "Thursday" "Friday"

[1] "June"     "January"  "April"    "July"     "November" "June"     "June"
[8] "January"  "June"

You can check the current date using Sys.Date():

In [10]:
Sys.Date()

[1] "2015-08-11"

And the current date/time with date():

In [11]:
date()

[1] "Tue Aug 11 14:56:36 2015"

### Date-Time Conversion

The as.Date() function is a basic tool for dealing with dates, but it does not handle data that includes both dates and times. Date/time data includes the date as well as finer-grained time information like hours, minutes and seconds. R contains a couple of data classes, 'POSIXct' and'POSIXlt' to deal with date/time data. POSIXct encodes a date/time as the number of seconds since the first day of 1970. POSIXlt stores date/time information as a list with items like year, month, day, hour, minute and second. You can convert dates in string format to POSIX date types using as.POSIXct() and as.POSIXlt():

In [12]:
third_col_ct <- as.POSIXct(dates$date_time,                 # date/time to convert
                          format = "%a %b %d %H:%M:%S %Y")  # date/time format

third_col_ct                                                # check dates

typeof(third_col_ct)                                        # check type

[1] "1996-08-11 09:50:35 CDT" "2016-05-12 19:50:35 CDT"
[3] "2017-10-14 09:50:35 CDT" "2018-01-11 09:50:35 CST"
[5] "2019-03-11 07:30:36 CDT" "2020-08-11 09:50:35 CDT"
[7] "2021-12-21 09:50:35 CST" "2022-01-11 09:50:35 CST"
[9] "2023-07-10 19:40:25 CDT"

[1] "double"

In [13]:
third_col_lt <- as.POSIXlt(dates$date_time,                 # date/time to convert
                          format = "%a %b %d %H:%M:%S %Y")  # date/time format*

third_col_lt                                                # check dates

typeof(third_col_lt)                                        # check type

[1] "1996-08-11 09:50:35 CDT" "2016-05-12 19:50:35 CDT"
[3] "2017-10-14 09:50:35 CDT" "2018-01-11 09:50:35 CST"
[5] "2019-03-11 07:30:36 CDT" "2020-08-11 09:50:35 CDT"
[7] "2021-12-21 09:50:35 CST" "2022-01-11 09:50:35 CST"
[9] "2023-07-10 19:40:25 CDT"

[1] "list"

*Note: check the documents for the strftime function with ?strftime for more information on date/time formatting codes.

Both POSIXct and POSIXlt support subtraction to get the amount of time between two dates in days:

In [14]:
third_col_ct[2]-third_col_ct[1]

third_col_lt[2]-third_col_lt[1]

Time difference of 7214.417 days

Time difference of 7214.417 days

You can extract various features of a date/time encoded as POSIXlt:

In [15]:
third_col_lt$year   # years

third_col_lt$mon    # numeric month

third_col_lt$wday   # day of the week

third_col_lt$mday   # day of the month

third_col_lt$yday   # day of the year

third_col_lt$hour   # hours

third_col_lt$min    # minutes

third_col_lt$sec    # seconds

[1]  96 116 117 118 119 120 121 122 123

[1]  7  4  9  0  2  7 11  0  6

[1] 0 4 6 4 1 2 2 2 1

[1] 11 12 14 11 11 11 21 11 10

[1] 223 132 286  10  69 223 354  10 190

[1]  9 19  9  9  7  9  9  9 19

[1] 50 50 50 50 30 50 50 50 40

[1] 35 35 35 35 36 35 35 35 25

### Lubridate

Lubridate is an R package designed to make it easy to work with dates. Lubridate contains a variety of functions that operate on dates stored in the POSIXct and POSIXlt formats.

Let's install and load lubridate and then go through some if its functions:

In [16]:
# install.packages("lubridate")     # uncomment this line to install

library(lubridate)

Lubridate has some useful for functions for dealing with POSIX dates:

In [17]:
am(third_col_lt)        # check if date/time occured in am(TRUE) or pm(FALSE)

[1]  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE

In [18]:
decimal_date(third_col_lt)   # get decimal version of date/time in years

[1] 1996.610 2016.363 2017.785 2018.029 2019.190 2020.610 2021.971 2022.029
[9] 2023.523

In [19]:
leap_year(third_col_lt)   # is it a leap year?

[1]  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE

In [20]:
round_date(third_col_lt, 
          unit = c("year"))  # round date/time based on specified unit

[1] "1997-01-01 CST" "2016-01-01 CST" "2018-01-01 CST" "2018-01-01 CST"
[5] "2019-01-01 CST" "2021-01-01 CST" "2022-01-01 CST" "2022-01-01 CST"
[9] "2024-01-01 CST"

In [21]:
ceiling_date(third_col_lt,
          unit = c("year"))  # round date/time up based on specified unit

[1] "1997-01-01 CST" "2017-01-01 CST" "2018-01-01 CST" "2019-01-01 CST"
[5] "2020-01-01 CST" "2021-01-01 CST" "2022-01-01 CST" "2023-01-01 CST"
[9] "2024-01-01 CST"

In [22]:
floor_date(third_col_lt,
          unit = c("year"))  # round date/time down based on specified unit

[1] "1996-01-01 CST" "2016-01-01 CST" "2017-01-01 CST" "2018-01-01 CST"
[5] "2019-01-01 CST" "2020-01-01 CST" "2021-01-01 CST" "2022-01-01 CST"
[9] "2023-01-01 CST"

In [23]:
hour(third_col_lt)        # get hours

[1]  9 19  9  9  7  9  9  9 19

In [24]:
minute(third_col_lt)     # get minutes

[1] 50 50 50 50 30 50 50 50 40

In [25]:
second(third_col_lt)     # get seconds

[1] 35 35 35 35 36 35 35 35 25

In [26]:
month(third_col_lt)      # get month

[1]  8  5 10  1  3  8 12  1  7

In [27]:
year(third_col_lt)       # get year

[1] 1996 2016 2017 2018 2019 2020 2021 2022 2023

In [28]:
mday(third_col_lt)      # get day of month

[1] 11 12 14 11 11 11 21 11 10

In [29]:
wday(third_col_lt)      # get day of week

[1] 1 5 7 5 2 3 3 3 2

In [30]:
yday(third_col_lt)      # get day of year

[1] 224 133 287  11  70 224 355  11 191

In [31]:
now()                   # get the current date/time

[1] "2015-08-11 14:56:38 CDT"

Lubridate also contains some more advanced functions, such as functions for specifying time periods and checking whether dates lie within time periods. We won't get into all the advanced functionality Lubridate offers, but it may be worth your time to dig into the pacakge further if you need to perform some fancy operations with dates.

### Wrap Up

Date data often requires some preprocessing before you can use it effectively. Base R has most of the tools you need to deal with dates, but the Lubridate package adds some convenience functions and extra functionality that can make dates a little easier to use. 

Cleaning and prepocessing numeric, character and date data is sometimes all you need to do before you start a project. In some cases, however, your data may be split across several tables such as different worksheets in an excel file or different tables in a database. In these cases, you might have to reshape your data in some way, such as by combining two tables together, before proceeding with your project. In the next lesson we will consider these sorts of manipulations.

### Introduction to R Part 17: Merging and Reshaping Data